body{
    text-align: center;
    font-family: 'Montserrat',sans-serif;
}

h2{
    font-weight: 550;
}

.new-list{
    height: 20px;
    width: 400px;
    border: 2px solid aquamarine;
    outline: none;
}

.new-list-btn{
    height: 25px;
    margin-left: 0px;
    border: 2px solid aquamarine;
    color: aquamarine;
    outline: none;
}
.new-list-btn:hover{
    opacity: 0.7;
}
.clear-items{
    margin-top: 10px;
    border: 2px solid aquamarine;
    color: aquamarine;
    height: 30px;
    border-radius: 5px;
    outline: none;
}
.clear-items:hover{
    opacity: 0.7;
}

#done_btn{
    font-size: 20px;
    color: green;
    outline: none;
    border: none;
}
#done_btn:hover,#edit:hover,#delete:hover{
    opacity: 0.8;
}
.edit{
    font-size: 20px;
    color: rgb(54, 54, 221);
    outline: none;
    border: none;
    background: white;
}


.delete{
    font-size: 20px;
    color: red;
    outline: none;
    border: none;
    background: white;
}
ul li{
    list-style-type: none;
}

ul li input[type=checkbox]~span{
    transform: translate(-100px);
}
ul li input[type=checkbox]:checked ~span{
    text-decoration: line-through;
    transform: translate(-100px);
}

input[type=checkbox]:checked {
text-decoration: line-through;
} 

